*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: linear-gradient(#000000, #281683);
    color: #EAECEF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* min-height: 100vh; */
}

/* Contenedor responsivo */
.table-container {
    margin: 20px;
    border: solid 1px rgba(255, 255, 255, 0.432);
    overflow-x: auto; /* Permite desplazamiento horizontal en pantallas pequeñas */
}

/* Estilo de la tabla */
table {
    width: 100%;
    color: #fff;
    font-size: 14px;
    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    background: rgba(255, 255, 255, 0.144);
}

/* Encabezados y celdas */
th {
    text-align: center;
    padding: 20px 15px ;
    font-weight: 700;
    text-transform: uppercase;
}

td {
    text-align: center;
    padding: 15px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

tbody tr {
    cursor: pointer;
}

tbody tr:hover {
    background: rgba(159, 208, 255, 0.158);
}


/* graphics style */
.graphicstable{
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    align-items: center;
}

/* Ajustar tamaño de texto en pantallas pequeñas */
@media (max-width: 768px) {
    th, td {
        font-size: 14px;
        padding: 8px;
    }
}

/* Ajuste en móviles */
@media (max-width: 480px) {
    th, td {
        font-size: 12px;
        padding: 5px;
    }

    .table-container {
        overflow-x: scroll; /* Permite desplazamiento horizontal en pantallas pequeñas */
    }
    
}